<div id="about-content">
<p><a href="/">Ahnentafel</a> is a simple program to display the
contents of a family tree. The Family Tree data is read in from a file
in <a href="http://en.wikipedia.org/wiki/GEDCOM">GEDCOM</a>
format.</p>

<p>The intention is to use this application as a way of sharing a family
tree (mine in this case) with far-flung relatives and then they can
email me with additions and edits.</p>

<p>Currently it is a very simple, and not very pretty, application. It
will become over time a nicer looking and more full featured
application.</p>
</div>
