<div id="individual-record">
  <div id="type"></div>
  <div id="names"></div>
  <div id="sex"></div>
  <div id="birth"></div>
  <div id="death"></div>
  <div id="burial"></div>
  <div id="family-as-child"><a href="#" id="parent-link">View parents<a></div>
  <div id="family-as-spouse"><a href="#" id="spouse-link">View family with <span id="spouse-name"></span></div>
</div>

<div id="family-record">
  <div id="type"></div>
  <div id="spouse">Spouse: <a href="#" id="person-info"></a></div>
  <div id="married">Married: <span id="event-info"></span></div>
  <div id="child">Child: <a href="#" id="person-info"></a></div>
</div>
 
