<div id="individual-record">
  <div id="type"></div>
  <div id="names"></div>
  <div id="sex"></div>
  <div id="birth"></div>
  <div id="death"></div>
  <div id="burial"></div>
  <div id="family-as-child"></div>
  <div id="family-as-spouse"></div>
</div>

<div id="family-record">
  <div id="type"></div>
  <div id="spouse">Spouse: <span id="person-info"></span></div>
  <div id="married">Married: <span id="event-info"></span></div>
  <div id="child">Child: <span id="person-info"></span></div>
</div>
 
